# Dependencies
node_modules

# Build outputs
dist
.next

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
*.log

# OS
.DS_Store

# IDE
.idea
.vscode

# Uploads
uploads/
backend/uploads/
